<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!-- <cds-icon shape="vm-bug"></cds-icon> -->
        <span class="main_logo"><img src="assets/images/sawami_logo.png" alt=""></span>
        <span class="title mainLogo">Sawami</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">{{'username' | translate}}</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        Accounting
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./accounting/stockcodes" routerLinkActive="active">
            Stock Codes
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="clipboard" clrVerticalNavIcon></cds-icon>
        Reporting
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./reporting/stockreports" routerLinkActive="active">
            Stock Reports
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="file" clrVerticalNavIcon></cds-icon>
        Document
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./document/documententry" routerLinkActive="active">
            Document Entry
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>