<div class="main-container">
  <header class="header header-6">
    <!-- logo -->
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!-- <cds-icon shape="vm-bug"></cds-icon> -->
        <span class="main_logo"><img src="assets/images/sawami_logo.png" alt=""></span>
        <span class="title mainLogo">{{'sawami' | translate | titlecase}}</span>
      </a>
    </div>
    <!-- logo -->
    <div class="header-actions" *ngIf="isLoggedIn()">
      <!-- language icon -->
      <clr-dropdown>
        <button clrDropdownTrigger aria-label="">
          <cds-icon shape="language" size="md"></cds-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <div type="button" clrDropdownItem (click)="selectLang('ar')">Arabic</div>
          <div type="button" clrDropdownItem (click)="selectLang('en')">English</div>
        </clr-dropdown-menu>
      </clr-dropdown>
      <!-- language icon -->
      <!-- language icon -->
      <clr-dropdown>
        <button clrDropdownTrigger aria-label="">
          <cds-icon shape="cog" size="md"></cds-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <a href="javascript://" clrDropdownItem>
            <clr-icon shape="cog"></clr-icon> Preferences
          </a>
          <a href="javascript://" clrDropdownItem>
            <clr-icon shape="logout"></clr-icon> Log out
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <!-- language icon -->
    </div>
  </header>
  <!-- main container start  -->
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" *ngIf="isLoggedIn()">
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="application" size="md" clrVerticalNavIcon></cds-icon>
        {{'applications' | translate | titlecase}}
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./accounting/products" routerLinkActive="active">
            {{'products' | translate | titlecase}}
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="clipboard" size="md" clrVerticalNavIcon></cds-icon>
        {{'reporting' | translate | titlecase}}
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./reporting/stockreports" routerLinkActive="active">
            {{'stock reports' | translate | titlecase}}
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="file" size="md" clrVerticalNavIcon></cds-icon>
        {{'document' | translate | titlecase}}
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./document/documententry" routerLinkActive="active">
            {{'document entry' | translate | titlecase}}
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>